body {
    font-family: Arial, sans-serif;
    margin: 10px 50px 50px 50px;
    background-color: #F5F5F0;
}
header img {
    height: 50px;

    /* controla o tamanho do logo */
    }

   
    
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
    color: #4a5542;
    margin-top: 50px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}

iframe {
    border: none;
    width: 800px;
    height: 450px;
    border-radius: 15px; /* aqui você define o quão arredondada fica a borda */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* opcional: dá uma sombra leve */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

button {
    background-color: #85A386;
    color: white;
    padding: 10px 20px;
    border:  2px solid #85a286;
    border-radius: 8px;        /* opcional: cantos arredondados */
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #837F74;
    border-color: #837F74; /* muda a cor da borda ao passar o mouse */
}

/* essa é a parte da nav*/

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.0em;
  color: #190636;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #5A6650;
  transition: 0.5s ease;
}

.btn:hover {
  color: #040504;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;

}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #e7decf;
  transition: 0.3s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(81, 118, 148);
}
a.btn {
  text-decoration: none;
  
}
  nav.green {
    background-color: #b5d0c2; /* cor suave */
    margin-bottom: 16px;
    padding: 1em 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* sombra leve */
    border-radius: 8px;
  }
 /* Reset básico */

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
}


.logo img {
  max-width: 150px;
}



main {
  padding: 40px 20px;
  background-color: #FFFFFF;
}

main h1 {
  text-align: center;
  color: #333333;
  font-size: 28px;
  margin-bottom: 30px;
}



/* toda a região da footer */

footer {
  color: rgb(255, 255, 255);
  background-color: #A3C9A8;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  align-items: center;
  top: 3%;
}


.footer-copy {
  margin-bottom: 30px;
  font-size: 30px;
}

.footer-nav .footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav .footer-item {
  display: inline;
  margin-right: 15px;

}

.footer-nav .footer-link {
  color: #F8F6F1;
  text-decoration: none;
  font-size: 20px;

}

.footer-nav .footer-link:hover {
  text-decoration: None;
  border-radius: 10px;
  color: #5A6650;
  transition: 200ms;
}
